.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(15 6 89);
  border: none;
  padding: 15px 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(92, 195, 233, 0.833);
}
